<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.kepg.spring.test.ajax.repository.FavoriteRepository">
	 <insert id="insertFavorite" parameterType="map">
	 	INSERT INTO favorite
	 		(
	 			urlName
	 			, url
	 			, createdAt
	 			, updatedAt
	 		)
	 	VALUES
	 		(
	 			#{urlName}
	 			,#{url}
	 			, NOW()
	 			, NOW()
	 		)
	 </insert>
	 <select id="selectFavorite"
	 resultType="com.kepg.spring.test.ajax.domain.Favorite">
	 	SELECT
	 		id
	 		, urlName
	 		, url
	 		, createdAt
	 		, updatedAt
	 	FROM
	 		favorite
	 </select>
 </mapper>