<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<title>즐겨찾기 목록</title>
</head>
<body>
	<div class="container mt-3">
		<h2>즐겨찾기 목록</h2>
		<table class="table text-center">
			<thead>
				<tr>
					<th>No.</th>
					<th>이름</th>
					<th>주소</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="favorite, status:${favorites}">
					<td th:text="${status.count}">1</td>
					<td th:text="${favorite.urlName}">마론달</td>
					<td th:text="${favorite.url}">https://marondal.com</td>
					<td> <button type="button" th:data-favorite-id="${favorite.id}" class="btn btn-sm btn-danger delete-btn">삭제</button> </td>
				</tr>
			</tbody>
		</table>
	</div>
	
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script>
	$(function(){
		$(".delete-btn").on("click", function(){
			// 이벤트가 발생한 태그 객체를 얻어올 때 this사용
			let id = $(this).data("favorite-id");
			
			$.ajax({
				type : "post"
				, url : "/ajax/favorite/delete"
				, data : {"id" : id}
				, success : function(response){
					if(response.isDeleted){
						location.reload();
					} else {
						alert("삭제 실패");
					}
				}
				, error : function(){
					alert("삭제 오류");
				}
			})	
		})
		
	})
</script>
</body>
</html>